@import 'variables.scss';
@import 'commun.scss';

.contenerContact{
    background-color: rgb(43, 10, 176);
    position: relative;
    display: flex;
    height: 400px;
    overflow: hidden;

    
    
}