@import 'variables.scss';
@import 'commun.scss';

.contenerExperience{
    background-color: rgb(188, 129, 11);
    position: relative;
    display: flex;
    height: 200px;
    overflow: hidden;
    
}