@import 'variables.scss';
@import 'commun.scss';

.contenerFormation{
    background-color: rgb(23, 194, 246);
    position: relative;
    display: flex;
    height: 250px;
    overflow: hidden;

    
    
}