//code couleur 

$background: #007A7A; //#af2ccf;// #781790;
$colorWhite: #FFFFFF;
$coloblack: #22252A; 
$coloblackone: #1E1E1E;

//font-family 
$fontfamilytitle: 'Inter', sans-serif;
$fontfamilycontener: 'Open Sans', sans-serif;